# Dependencies
node_modules/

# Build
dist/
publish-api/
*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Env
.env
.env.local
.env.*.local

# Vite
website/.vite/

# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.dbmdl
*.jfm
*.pfx
*.publishsettings
appsettings.*.local.json
**/Properties/launchSettings.json
